#slack_submitdiv .inside {
	margin: 0;
	padding: 0;
}

#slack-test-notify {
	width: 290px;
	height: 32px;
}

#slack-test-notify-button {
	float: left;
}

#slack-test-notify .spinner {
	display: none;
}

.post-type-slack_integration .column-events ul {
	margin: 0;
	list-style-type: disc;
}

.post-type-slack_integration .column-events li {
	margin-left: 1em;
}

.post-type-slack_integration .inactive .column-title strong,
.post-type-slack_integration .inactive .column-title strong a {
	font-weight: 100;
}
