### OSX
.DS_Store
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages
vendor

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# tests
tests/e2e/config/local-*
tests/e2e/screenshots

# build
build/
